.Result {
}

.Result .progress {
  height: 6px;
  background-color: transparent;
  border-radius: 0;
  transition: opacity 1s ease-in-out;
}

.Result .progress-bar {
  background-color: #3b82f6 !important;
}
