.offcanvas.show, .offcanvas-toggling {
  width: 150px !important;
}

.offcanvas-body {
  padding-top: 5px !important;
}

.navbar-toggler {
  margin-right: 3px !important;
}

.Header .badge {
  padding: 0 !important;
}

.Header .badge .selected-mark {
  position: absolute;
  background: red;
  height: 5px;
  width: 5px;
  border-radius: 5px;
  margin-top: -20px;
  margin-left: 2px;
}
