.navbar {
  flex-wrap: unset !important;
}

.offcanvas.show, .offcanvas-toggling {
  width: 150px !important;
}

.offcanvas-body {
  padding-top: 5px !important;
}

.navbar-toggler {
  margin-right: 3px !important;
}
