.About {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  color: #ffc107;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.About .fa-circle-info {
  filter: drop-shadow(0 0 5px #000);
}
