.About {
  position: fixed;
  bottom: 10px;
  left: 10px;
  cursor: pointer;
  color: #ffc107;
  font-size: 1.5rem;
  padding: 5px 10px;
}

.About .fa-circle-info {
  filter: drop-shadow(0 0 5px #000);
}

.About .offline {
  font-size: .8rem;
  color: #fff;
  font-weight: bold;
  background: #ff4545;
  border-radius: 5px;
  padding: 2px;
}
