.Album {
  float: left;
  border: solid 1px black;
  cursor: pointer;
}

.Album img {
  width:100%;
}

.Album .artist {
  font-size: .8em;
  padding: 5px;
  font-weight: bold;
  background: #000;
  color: #fff;
}

.Album .loader {
  position: absolute;
  font-size: 2rem;
  margin: -44px 0 0 4px;
  color: #ffca2c;
}
