.Album {
  float: left;
  border: dashed 1px #2d2d2d;
  cursor: pointer;
}

.Album .artist {
  font-size: .8em;
  padding: 5px;
  font-weight: bold;
  background: #3d3737;
  color: #a7a4a4;
}

.Album .loader {
  position: absolute;
  font-size: 2rem;
  margin: -44px 0 0 4px;
  color: #ffca2c;
}
